{
  "openapi": "3.1.0",
  "info": {
    "title": "The Neighborhood - OpenAPI",
    "description": "Schema for testing, deploying, and managing distributed pipelines",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.indexing.co/dw"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/filters/{name}": {
      "get": {
        "description": "Returns all values for a given filter, sorted by when they were added (oldest first)",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional pagination token for results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Optional value prefix for results",
            "example": "0x123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "nextPageToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Adds values for a filter",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Values to add",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["message"],
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Removes values for a filter",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Values to remove",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["message"],
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transformations/test": {
      "post": {
        "description": "Test a transformation without committing it",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter name to test against",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterKeys",
            "in": "query",
            "description": "Optional filterKeys to test against. Required if also passing `filter`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "description": "Transformation to test",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "examples": ["function transform(block) { ... }"]
                  }
                }
              }
            },
            "text/javascript": {
              "schema": {
                "type": "string",
                "examples": ["function transform(block) {\n...\n}\n"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response from test",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transformations/{name}": {
      "get": {
        "description": "Returns a specific transformations' code",
        "responses": {
          "200": {
            "description": "Transformation code",
            "content": {
              "text/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Update a transformation",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Transformation to save",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "examples": ["function transform(block) { ... }"]
                  }
                }
              }
            },
            "text/javascript": {
              "schema": {
                "type": "string",
                "examples": ["function transform(block) {\n...\n}\n"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["message"],
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transformations": {
      "get": {
        "description": "Returns all transformations",
        "responses": {
          "200": {
            "description": "List of transformations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "required": ["name"],
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipelines": {
      "get": {
        "description": "Returns all active pipelines",
        "responses": {
          "200": {
            "description": "List of pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "required": [
                          "name",
                          "transformation",
                          "filter",
                          "filterKeys",
                          "networks",
                          "delivery"
                        ],
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "transformation": {
                            "type": "string"
                          },
                          "filter": {
                            "type": "string"
                          },
                          "filterKeys": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "networks": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "delivery": {
                            "type": "object",
                            "properties": {
                              "adapter": {
                                "type": "string"
                              },
                              "connection": {
                                "type": "string"
                              },
                              "connectionUri": {
                                "type": "string"
                              },
                              "table": {
                                "type": "string"
                              },
                              "uniqueKeys": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create or modify a pipeline",
        "requestBody": {
          "description": "Pipeline to save",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "transformation",
                  "filter",
                  "filterKeys",
                  "networks",
                  "delivery"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "transformation": {
                    "type": "string"
                  },
                  "filter": {
                    "type": "string"
                  },
                  "filterKeys": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "networks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "delivery": {
                    "type": "object",
                    "properties": {
                      "adapter": {
                        "type": "string"
                      },
                      "connection": {
                        "type": "string"
                      },
                      "connectionUri": {
                        "type": "string"
                      },
                      "table": {
                        "type": "string"
                      },
                      "uniqueKeys": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["message"],
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipelines/{name}/backfill": {
      "post": {
        "description": "Backfill a given pipeline",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Backfill parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network to backfill against (required)",
                    "examples": ["BASE"]
                  },
                  "value": {
                    "type": "string",
                    "description": "Value to filter the backfill against (required)",
                    "examples": ["0x123..."]
                  },
                  "beatEnd": {
                    "type": "integer",
                    "description": "The last beat to check (optional)"
                  },
                  "beatStart": {
                    "type": "integer",
                    "description": "The first beat to check (optional)"
                  },
                  "beats": {
                    "type": "array",
                    "description": "A list of beats to explicitly check (optional)",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["message"],
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["error"],
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {
      "Success": {
        "required": ["message"],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": ["error"],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Pipeline": {
        "required": [
          "name",
          "transformation",
          "filter",
          "filterKeys",
          "networks",
          "delivery"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "transformation": {
            "type": "string"
          },
          "filter": {
            "type": "string"
          },
          "filterKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "networks": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "delivery": {
            "type": "object",
            "properties": {
              "adapter": {
                "type": "string"
              },
              "connection": {
                "type": "string"
              },
              "connectionUri": {
                "type": "string"
              },
              "table": {
                "type": "string"
              },
              "uniqueKeys": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
